# Massive Summ

> This repository is work in progress

## Instructions
In the works...

## Fetch (subset of) Data Through Common Crawl

In the table below is a listing of files containing URLs and metadata required to fetch data from common crawl.
${LANGS}
